[Unit]
Description=SonarQube service
After=syslog.target network.target

[Service]
Type=simple
User=sonarqube
Group=sonarqube
-PermissionsStartOnly=true
ExecStart=/bin/nohup {{ java_home }} -Xms32m -Xmx32m -Djava.net.preferIPv4Stack=true -jar {{ sonarqube_installation_directory }}/sonarqube-{{ sonarqube_version }}/lib/sonar-application-{{ sonarqube_version }}.jar
StandardOutput=syslog
LimitNOFILE=131072
LimitNPROC=8192
TimeoutStartSec=5
Restart=always
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
